
.home-image-container{
    width: var(--width);
}
.home-image{
    object-fit: contain;
    width: 100%; 
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    /* To add transparency, we use the rgba() function to define the color stops. The last parameter in the rgba() function can be a value from 0 to 1, and it defines 
    the transparency of the color: 0 indicates full transparency, 1 indicates 
    full color (no transparency).*/
}