
.menu-container-active{
    position: sticky;
    top: 70px;
    left: 0;
    width: 50vw;
    min-width: 150px;
    height: 100vh;
    z-index: 90;
    background-color: white;
    transition: 800ms;
}
.menu-container-inactive{
    position: absolute;
    top: 70px;
    width: 50vw;
    height: 100vh;
    left: -160vw;
    z-index: 90;
    transition: 800ms;
}
.closing-icon{
    margin-left: 5px;
    margin-top: 10px;
}
.menu-welcome-title{
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.menu-link-list-container{
    list-style-type: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.list-item{
    color:black;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}
.list-item:hover{
    background-color: gainsboro;
    margin: 0rem 2rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    font-weight: 600;
}
.list-item .item{
    color: black;
    margin: 0.5rem 2rem;
}
@media screen and (max-width: 600px)
{
    .menu-container-active{
        width: 90vw;
    }          
}
